$font-stack: "Montserrat", sans-serif;
$font-stack--content: "Lato", sans-serif;
$title-color: #8d81ac;
$subtitle-color: #848e97;

$revol-title: #635c73;
$revol-text: #323232;
$main-titel-h2Two: #8d81ac;
$wUGet-text: #848e97;
$main-icon: #dfe9f1;
$price-title: #ffffff;
$main-back: #f4f4f4;
